@model QuanLyKhoThucPham.Models.PhieuNhapModel

@{
    ViewData["Title"] = "Chi tiết Phiếu Nhập";
}

<div class="container mt-4">
    <h2 class="text-center text-primary">Chi tiết Phiếu Nhập</h2>

    <div class="card shadow-sm p-4">
        <div class="row mb-3">
            <div class="col-sm-3 fw-bold">Ngày nhập:</div>
            <div class="col-sm-9">@Html.DisplayFor(model => model.NgayNhap)</div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3 fw-bold">Nhà cung cấp:</div>
            <div class="col-sm-9">@Html.DisplayFor(model => model.NhaCungCap.TenNhaCungCap)</div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3 fw-bold">Nhà cung cấp:</div>
            <div class="col-sm-9">@Html.DisplayFor(model => model.NhaCungCap.DiaChi)</div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3 fw-bold">Nhà cung cấp:</div>
            <div class="col-sm-9">@Html.DisplayFor(model => model.NhaCungCap.SoDienThoai)</div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3 fw-bold">Kho:</div>
            <div class="col-sm-9">@Html.DisplayFor(model => model.KhoHang.TenKho)</div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3 fw-bold">Nhân viên nhập:</div>
            <div class="col-sm-9">@Html.DisplayFor(model => model.NhanVien.HoTen)</div>
        </div>
    </div>

    <h4 class="mt-4 text-success">Chi tiết Phiếu Nhập</h4>
    <table class="table table-bordered table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DSChiTietPhieuNhap)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SanPham.TenSP)</td>
                    <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                    <td>@Html.DisplayFor(modelItem => item.DonGia)</td>
                    <td>@Html.DisplayFor(modelItem => item.TongTIen)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="fw-bold bg-light">
                <td colspan="3" class="text-end">Tổng cộng:</td>
                <td class="text-danger">@Html.DisplayFor(model => model.TongTien)</td>
            </tr>
        </tfoot>
    </table>

    <div class="mt-4 text-center">
        <a asp-action="Delete" asp-route-maPN="@Model.MaPhieuNhap" method ="post" class="btn btn-danger btn-lg">Xóa</a>
        <a asp-route-maPN="@Model.MaPhieuNhap" asp-action="Pdf" class="btn btn-secondary btn-lg">Xuất pdf</a>
        <a asp-action="Index" class="btn btn-secondary btn-lg">Thoát</a>
    </div>
</div>
